<div id="doctor_home" class="container px-0 mx-n3">
  <div id="availabity_calendar" class="row">
    <div class="col">
      <div class="card">
        <div class="card-body px-4">
          <div class="row">
            <h1>Appointment Schedule</h1>
          </div>
          <div class="row gx-2">
            <div class="col-5">
              <div class="card h-100">
                <div id="schdl_section1" class="card-body">
                  <div class="row">
                    <div class="col">
                      <label id="labelDay1" class="form-label small">Day 1</label>
                    </div>
                    <div class="col form-check form-switch">
                      <input
                        class="form-check-input switchDay"
                        type="checkbox"
                        role="switch"
                        id="switchDay1"
                        checked
                      />
                      <label
                        id="labelSwitchDay1"
                        class="form-check-label small"
                        for="switchDay1"
                      >Available</label>
                    </div>
                    <div class="col nowrap">
                      <select
                        name="startDay1"
                        id="startDay1"
                        class="startEndDay"
                      ></select>
                      <label>-</label>
                      <select
                        name="endDay1"
                        id="endDay1"
                        class="startEndDay"
                      ></select>
                    </div>
                    <div class="col nowrap">
                      <select
                        name="sessionDay1"
                        id="sessionDay1"
                        class="sessionDay"
                      ></select>
                      <label
                        class="form-label small"
                        for="sessionDay1"
                      >min</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <label id="labelDay2" class="form-label small">Day 2</label>
                    </div>
                    <div class="col form-check form-switch">
                      <input
                        class="form-check-input switchDay"
                        type="checkbox"
                        role="switch"
                        id="switchDay2"
                        checked
                      />
                      <label
                        id="labelSwitchDay2"
                        class="form-check-label small"
                        for="switchDay2"
                      >Available</label>
                    </div>
                    <div class="col nowrap">
                      <select
                        name="startDay2"
                        id="startDay2"
                        class="startEndDay"
                      ></select>
                      <label>-</label>
                      <select
                        name="endDay2"
                        id="endDay2"
                        class="startEndDay"
                      ></select>
                    </div>
                    <div class="col nowrap">
                      <select
                        name="sessionDay2"
                        id="sessionDay2"
                        class="sessionDay"
                      ></select>
                      <label
                        class="form-label small"
                        for="sessionDay2"
                      >min</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <label id="labelDay3" class="form-label small">Day 3</label>
                    </div>
                    <div class="col form-check form-switch">
                      <input
                        class="form-check-input switchDay"
                        type="checkbox"
                        role="switch"
                        id="switchDay3"
                        checked
                      />
                      <label
                        id="labelSwitchDay3"
                        class="form-check-label small"
                        for="switchDay3"
                      >Available</label>
                    </div>
                    <div class="col nowrap">
                      <select
                        name="startDay3"
                        id="startDay3"
                        class="startEndDay"
                      ></select>
                      <label>-</label>
                      <select
                        name="endDay3"
                        id="endDay3"
                        class="startEndDay"
                      ></select>
                    </div>
                    <div class="col nowrap">
                      <select
                        name="sessionDay3"
                        id="sessionDay3"
                        class="sessionDay"
                      ></select>
                      <label
                        class="form-label small"
                        for="sessionDay3"
                      >min</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <label id="labelDay4" class="form-label small">Day 4</label>
                    </div>
                    <div class="col form-check form-switch">
                      <input
                        class="form-check-input switchDay"
                        type="checkbox"
                        role="switch"
                        id="switchDay4"
                        checked
                      />
                      <label
                        id="labelSwitchDay4"
                        class="form-check-label small"
                        for="switchDay4"
                      >Available</label>
                    </div>
                    <div class="col nowrap">
                      <select
                        name="startDay4"
                        id="startDay4"
                        class="startEndDay"
                      ></select>
                      <label>-</label>
                      <select
                        name="endDay4"
                        id="endDay4"
                        class="startEndDay"
                      ></select>
                    </div>
                    <div class="col nowrap">
                      <select
                        name="sessionDay4"
                        id="sessionDay4"
                        class="sessionDay"
                      ></select>
                      <label
                        class="form-label small"
                        for="sessionDay4"
                      >min</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <label id="labelDay5" class="form-label small">Day 5</label>
                    </div>
                    <div class="col form-check form-switch">
                      <input
                        class="form-check-input switchDay"
                        type="checkbox"
                        role="switch"
                        id="switchDay5"
                        checked
                      />
                      <label
                        id="labelSwitchDay5"
                        class="form-check-label small"
                        for="switchDay5"
                      >Available</label>
                    </div>
                    <div class="col nowrap">
                      <select
                        name="startDay5"
                        id="startDay5"
                        class="startEndDay"
                      ></select>
                      <label>-</label>
                      <select
                        name="endDay5"
                        id="endDay5"
                        class="startEndDay"
                      ></select>
                    </div>
                    <div class="col nowrap">
                      <select
                        name="sessionDay5"
                        id="sessionDay5"
                        class="sessionDay"
                      ></select>
                      <label
                        class="form-label small"
                        for="sessionDay5"
                      >min</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <label id="labelDay6" class="form-label small">Day 6</label>
                    </div>
                    <div class="col form-check form-switch">
                      <input
                        class="form-check-input switchDay"
                        type="checkbox"
                        role="switch"
                        id="switchDay6"
                        checked
                      />
                      <label
                        id="labelSwitchDay6"
                        class="form-check-label small"
                        for="switchDay6"
                      >Available</label>
                    </div>
                    <div class="col nowrap">
                      <select
                        name="startDay6"
                        id="startDay6"
                        class="startEndDay"
                      ></select>
                      <label>-</label>
                      <select
                        name="endDay6"
                        id="endDay6"
                        class="startEndDay"
                      ></select>
                    </div>
                    <div class="col nowrap">
                      <select
                        name="sessionDay6"
                        id="sessionDay6"
                        class="sessionDay"
                      ></select>
                      <label
                        class="form-label small"
                        for="sessionDay6"
                      >min</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <label id="labelDay7" class="form-label small">Day 7</label>
                    </div>
                    <div class="col form-check form-switch">
                      <input
                        class="form-check-input switchDay"
                        type="checkbox"
                        role="switch"
                        id="switchDay7"
                        checked
                      />
                      <label
                        id="labelSwitchDay7"
                        class="form-check-label small"
                        for="switchDay7"
                      >Available</label>
                    </div>
                    <div class="col nowrap">
                      <select
                        name="startDay7"
                        id="startDay7"
                        class="startEndDay"
                      ></select>
                      <label>-</label>
                      <select
                        name="endDay7"
                        id="endDay7"
                        class="startEndDay"
                      ></select>
                    </div>
                    <div class="col nowrap">
                      <select
                        name="sessionDay7"
                        id="sessionDay7"
                        class="sessionDay"
                      ></select>
                      <label
                        class="form-label small"
                        for="sessionDay7"
                      >min</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <div class="card-header">
                  <div
                    class="row d-flex justify-content-between px-0 text-center"
                  >
                    <div class="col-1 px-0">
                      <a id="prevPage" href="">
                        <i class="fas fa-angle-double-left fa-lg"></i>
                      </a>
                    </div>
                    <div id="labelSlotsDay1" class="col px-0 small">Day 1</div>
                    <div id="labelSlotsDay2" class="col px-0 small">Day 2</div>
                    <div id="labelSlotsDay3" class="col px-0 small">Day 3</div>
                    <div id="labelSlotsDay4" class="col px-0 small">Day 4</div>
                    <div id="labelSlotsDay5" class="col px-0 small">Day 5</div>
                    <div id="labelSlotsDay6" class="col px-0 small">Day 6</div>
                    <div id="labelSlotsDay7" class="col px-0 small">Day 7</div>
                    <div class="col-1 px-0">
                      <a id="nextPage" href="">
                        <i class="fas fa-angle-double-right fa-lg"></i>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="card-body scroll">
                  <div
                    class="row d-flex justify-content-between px-0 text-center"
                  >
                    <div class="col-1"></div>
                    <div id="slotsDay1" class="col">
                      <button
                        class="slot btn btn-outline-success btn-sm rounded-0 my-1"
                      >07:00</button>
                      <button
                        class="slot btn btn-outline-success btn-sm rounded-0 my-1"
                      >08:00</button>
                      <button
                        class="slot btn btn-outline-success btn-sm rounded-0 my-1"
                      >09:00</button>
                      <button
                        class="slot btn btn-outline-success btn-sm rounded-0 my-1"
                      >10:00</button>
                      <button
                        class="slot btn btn-outline-success btn-sm rounded-0 my-1"
                      >11:00</button>
                      <button
                        class="slot btn btn-outline-success btn-sm rounded-0 my-1"
                      >12:00</button>
                      <button
                        class="slot btn btn-outline-success btn-sm rounded-0 my-1"
                      >13:00</button>
                      <button
                        class="slot btn btn-outline-success btn-sm rounded-0 my-1"
                      >14:00</button>
                    </div>
                    <div id="slotsDay2" class="col">
                      <button
                        class="slot btn btn-outline-success btn-sm rounded-0 my-1"
                      >07:00</button>
                      <button
                        class="slot btn btn-outline-success btn-sm rounded-0 my-1"
                      >08:00</button>
                    </div>
                    <div id="slotsDay3" class="col">

                    </div>
                    <div id="slotsDay4" class="col">

                    </div>
                    <div id="slotsDay5" class="col">
                      <button
                        class="slot btn btn-outline-success btn-sm rounded-0 my-1"
                      >11:00</button>
                      <button
                        class="slot btn btn-outline-success btn-sm rounded-0 my-1"
                      >12:00</button>
                      <button
                        class="slot btn btn-outline-success btn-sm rounded-0 my-1"
                      >13:00</button>
                      <button
                        class="slot btn btn-outline-success btn-sm rounded-0 my-1"
                      >14:00</button>
                    </div>
                    <div id="slotsDay6" class="col">

                    </div>
                    <div id="slotsDay7" class="col">

                    </div>
                    <div class="col-1"></div>
                  </div>
                </div>
                <div class="card-footer">
                  <button
                    id="saveSchedules"
                    type="button"
                    class="btn btn-outline-primary btn-sm"
                  >Save</button>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div id="doc_section" class="row mt-4">
    <div id="appointments" class="col-4">
      <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button
              class="accordion-button"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target=".multi-collapse"
              aria-expanded="true"
              aria-controls="collapseOne collapseTwo"
            >
              Upcoming Appointments
            </button>
          </h2>
          <div
            id="collapseOne"
            class="accordion-collapse multi-collapse collapse show"
            aria-labelledby="headingOne"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body p-0 user-scroll">
              <div id="new_apptmnts">
                <a class="dropdown-item p-0" href="">
                  <div class="card-body border">
                    <p class="">Anudeep Pala</p>
                    <p class="small text-muted">27 Male</p>
                    <p class="small mt-2">April 29th 11:30 PM</p>
                  </div>
                </a>
              </div>
              {{! else }}
              <h4 id="no_new_apptmnt_h4">No New Appointments</h4>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <button
              class="accordion-button"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target=".multi-collapse"
              aria-expanded="false"
              aria-controls="collapseOne collapseTwo"
            >
              Past Appointments
            </button>
          </h2>
          <div
            id="collapseTwo"
            class="accordion-collapse multi-collapse collapse"
            aria-labelledby="headingTwo"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body p-0 accordian-scroll">
              <div id="past_apptmnts">
                <a class="dropdown-item p-0" href="">
                  <div class="card-body border">
                    <p class="">Anudeep P</p>
                    <p class="small text-muted">27 Male</p>
                    <p class="small mt-2">April 29th 11:30 PM</p>
                  </div>
                </a>
              </div>
              {{! else }}
              <h4 id="no_past_apptmnt_h4">No Past Appointments</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col ml-5">
      <div class="card card-body h-100">
        <h3 id="no_apptmnt_h3">
          No Appointments yet... :(
        </h3>
        <div id="apptmnt_view">
          <div class="row">
            <div class="col">
              <p>
                <label class="fw-light">Patient Name:</label>
                <label id="pat_name" class="fs-5 m-2">Anudeep Pala</label>
              </p>
              <p>
                <label class="fw-light">Reason:</label>
                <label id="pat_reason" class="m-2">Severe Fever</label>
              </p>
              <p>
                <label class="fw-light">Time:</label>
                <label id="appt_time" class="fs-5 m-2">April 30, 19:00</label>
              </p>
              <p>
                <label class="fw-light">Notes:</label>
                <label id="appt_notes" class="m-2">I have been fully vaccinated</label>
              </p>
              <p>
                <label class="fw-light">Prescription:</label>
                <label id="appt_presc" class="m-2">NA</label>
              </p>
            </div>
            <div class="col">
              <p>
                <label class="fw-light">Gender:</label>
                <label id="pat_gen" class="fs-5 m-2">Male</label>
              </p>
              <p>
                <label class="fw-light">Age:</label>
                <label id="pat_age" class="fs-5 m-2">27</label>
              </p>
              <p>
                <label class="fw-light">Duration:</label>
                <label id="appt_dur" class="fs-5 m-2">30</label>
              </p>
              <p>
                <label class="fw-light">Status:</label>
                <label class="fs-5 m-2">Confirmed</label>
              </p>
            </div>
          </div>
          <div
            class="position-absolute bottom-0 end-0 d-grid gap-2 d-md-flex justify-content-md-end"
          >
            <button
              id="video_btn"
              class="btn btn-info me-md-2"
              type="button"
            >Video Chat</button>
            <button
              id="patDetailsBtn"
              class="btn btn-primary"
              type="button"
            >Details</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>